#main-div{
  display: flex;
  justify-content: center;
  
}

#left-hud{
  text-align: center;
  background-color: #B0B0B0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#container {
    border: 6px solid ;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .col {
    flex: 1;
  }

  .filled{
    background-color: black;
  }